{% load staticfiles %}

<div id="meetup-announcement">
    <h1>
        <a href="{{ upcoming_meetup.get_absolute_url }}">
            Następne spotkanie {{ upcoming_meetup }}
        </a>
    </h1>

    <div>
        <div>
            <a href="https://maps.google.com/maps?q={{ upcoming_meetup.venue.latitude }},{{ upcoming_meetup.venue.longitude }}" target="_blank">
                <img class="map" src="http://maps.googleapis.com/maps/api/staticmap?zoom=15&amp;size=460x189&amp;maptype=roadmap&amp;markers=color:blue%7C{{ upcoming_meetup.venue.latitude }},{{ upcoming_meetup.venue.longitude }}&amp;sensor=false&amp;key=AIzaSyBmPw3YAF_Qk3GTLbj2zkF-M-rIcT45y2Q" class="map" alt="Mapa">
            </a>
        </div>

        <div>
            <p>
                {{ upcoming_meetup.date|date:"l" }},
                {{ upcoming_meetup.date|date:"d.m.Y" }}, godz. {{ upcoming_meetup.date|date:"H:i" }}
            </p>
            {% if upcoming_meetup.venue %}
            <p>
                <img src="{% static 'img/location.png' %}" alt="Lokalizacja" class="icon-location-home"> {{ upcoming_meetup.venue.name }}, {{ upcoming_meetup.venue.address }}
            </p>
            <div>
                <a href="{{ upcoming_meetup.get_absolute_url }}" class="more">&raquo; WIĘCEJ INFORMACJI</a>
            </div>
            {% endif %}
        </div>
    </div>

    <h2>Prezentacje</h2>

    <div>
        {% for talk in upcoming_meetup.talks.all %}
        <div>
            {% if talk.speakers.count == 1 %}
                <img src="{% if talk.speakers.get.photo %}{{ talk.speakers.get.photo.url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="Zdjęcie {{ speaker }}">
            {% else %}
                {% for speaker in talk.speakers.all %}
                    <img src="{% if speaker.photo %}{{ speaker.photo.url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="Zdjęcie {{ speaker }}">
                {% endfor %}
            {% endif %}
        </div>

        <div>
            <p>
                {% for speaker in talk.speakers.all %}
                    <a href="{{ upcoming_meetup.get_absolute_url }}#speaker-{{ speaker|slugify }}">{{ speaker }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><a href="{{ upcoming_meetup.get_absolute_url }}#talk-{{ talk|slugify }}">{{ talk.title }}</a></p>
        </div>
        {% endfor %}
    </div>

    {% if not upcoming_meetup.is_ready %}
        <div class="more-info">
            <p>agenda w przygotowaniu<p>
        </div>
    {% endif %}
</div>
