certifi==2019.3.9
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.18
django-db-storage==1.0.2
django-embed-video==1.1.2
djet==0.0.10
factory-boy==2.5.2
gunicorn==19.7.1
idna==2.8
Pillow==2.9.0
psycopg2==2.7.4
pytz==2018.9
requests==2.21.0
six==1.12.0
urllib3==1.24.1
whitenoise==3.3.0
