html {
    overflow-x: hidden;
}

.logo {
    height: 100px;
    width: auto;
    
    @media screen and (min-width: $medium) {
        margin-top: $small-spacing;
        margin-left: $medium-spacing;
    }
}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: $box-shadow;

    ul {
        height: 100%;
        width: 100%;
        max-width: 700px;
        margin: auto;
        padding: 0 $small-spacing $medium-spacing;
        justify-self: center;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        list-style-type: none;
        box-sizing: border-box;
    }
}

.nav-item {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;

    &:before,
    &:after {
        content: "";
        box-sizing: border-box;
        transition: 0.2s all ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        width: 0.1rem;
        height: 0.1rem;
        background: $yellow;
    }

    &:before {
        left: 0;
        bottom: -0.2em;
    }

    &:after {
        right: 0;
        top: -0.2em;
    }

    &:hover:before,
    &:hover:after {
        height: calc(100% + 0.4em);
    }

    &:hover a:before,
    &:hover a:after{
        width: 100%;
    }

    a {
        padding: 0.2em 0.6em;
        color: $black;
        text-decoration: none;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;

        &:before,
        &:after {
            transition: $transition-fast;
        }

        &:before {
            left: 0;
        }

        &:after{
            right: 0;
        }
    }
}

main {
    position: relative;
    margin-left: 25%;
}

@media screen and (max-width: 768px) {
    main {
        margin-left: 0;
    }
}

section {
    margin: 50px 0;
}

footer {
    margin-top: 30px;
    font-size: 14px;
}

.content {
    margin-top: 50px;
}

.page-title {
    margin-bottom: 30px;
}

.talk-title {
    color: $black;
}

.talk-speaker {
    color: $black;
}

.img-user {
        width: 90px;
        height: auto;
}

.vertical-center {
    display: flex;
    align-items: center;
}

/* BACKGROUND IMAGES */
@media screen and (min-width: 768px) {
  #left-fixed-shape {
      background: url(../img/main-left.png) no-repeat;
      width: 250px;
      height: 275px;
      position: fixed;
      left: -40px;
      bottom: 10px;
      z-index: -1;
      }
}

@media screen and (min-width: 1000px) {
  #right-absolute-home-shape {
      background: url(../img/main-right.png) no-repeat;
      width: 356px;
      height: 200px;
      position: absolute;
      top: 100%;
      right: -200px;
    }
}
