@import url('https://fonts.googleapis.com/css?family=Raleway&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Exo:300,400&subset=latin-ext');

body {
    background: $white;
    color: $black;
    line-height: 2em;
    font-family: $font-secondary;
    font-size: 18px;
}

a {
    color: $blue;
    transition: 0.5s color ease;
}

a:hover {
    color: $yellow;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: $font-primary;
}

h1, h2 {
    font-size: 45px;
}

h3 {
    font-size: 18px;
}

h6 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 25px;
}

p {
    margin-bottom: 0.5em;
    .date.strong {
        background-color: $yellow;
        color: #393939;
        font-weight: bold;
        font-size: 15px;
        line-height: 17px;
        padding: 3px 5px;
    }
}
