@import url('https://fonts.googleapis.com/css?family=Raleway&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:400i&subset=latin-ext');

body {
    color: $black;
    line-height: 2em;
    font-family: $font-secondary;
    font-size: 18px;
}

a {
    color: $blue;
    transition: 0.5s color ease;
}

a:hover {
    color: $yellow;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: $font-primary;
    margin-bottom: $big-spacing;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 20px;
}

p {
    margin-top: $small-spacing;
    margin-bottom: $medium-spacing;
}
