$font-primary: 'Exo', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$white: #ffffff;
$black: #393939;
$blue: #3498DB;
$yellow: #f9bf3b;

$small-spacing: 15px;
$medium-spacing: 30px;
$big-spacing: 60px;

$box-shadow: 3px 3px 33px 0px rgba(0,0,0,0.22);

$transition-slow: 2s all ease;
$transition-fast: 0.1s all ease;

$small: 576px;
$medium: 768px;
$big: 992px;
$large: 1200px;
