$font-primary: 'Exo', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$white: #ffffff;
$black: #393939;
$blue: #3498DB;
$yellow: #f9bf3b;

$box-shadow: 3px 3px 33px 0px rgba(0,0,0,0.22);

$transition: all 2s;

$small: 576px;
$medium: 768px;
$big: 992px;
$large: 1200px;
