{% extends "base_content.html" %}

{% load staticfiles %}

{% block title %}FAQ{% endblock %}

{% block og_title %}FAQ{% endblock %}

{% block content %}
<h1>FAQ</h1>
<ol class="page-menu">
    <li><a href="#for-attendees">Dla uczestników</a></li>
    <li><a href="#for-speakers">Dla prelegentów</a></li>
    <li><a href="#for-sponsors">Dla sponsorów</a></li>
    <li><a href="#for-partners">Dla partnerów</a></li>
</ol>

<div id="for-attendees">
    <h2>Dla uczestników</h2>
    <h3>W jakim języku odbywają się spotkania?</h3>
        <p>Większość prezentacji prowadzona jest w języku polskim, w tym języku prowadzimy też spotkanie. Zdarzają się jednak prezentacje w języku angielskim - zostają one odpowiednio oznaczone w agendzie.</p>
    <h3>Jak wyglądają spotkania PyLight?</h3>
        <p>W ramach spotkań odbywają się 1-2 prezentacje związane z Pythonem i ogólnie IT. Następnie większość uczestników zostaje na networking.</p>
</div>

<div id="for-speakers">
    <h2>Dla prelegentów</h2>
    <h3>Jak się zgłosić?</h3>
        <p>Prosimy przesyłać propozycję prezentacji na nasz adres mailowy <a href="mailto:hello@pylight.org">hello@pylight.org</a>.</p>
    <h3>Ile czasu będzie przeznaczone na moją prezentację?</h3>
        <p>Standardowo jedna prezentacja trwa około 15 minut. Staramy się pilnować wyznaczonego czasu i po jego przekroczeniu będziemy prosić prelegenta o jak najszybsze zakończenie wystąpienia.</p>
    <h3>Co powinienem/powinnam zrobić w dniu prezentacji?</h3>
        <p>Prosimy prelegentów o przybycie minimum 15 minut przed rozpoczęciem spotkania, abyśmy mogli rozwiązać potencjalne problemy np. z podłączeniem laptopa do rzutnika czy internetu.</p>
    <h3>Co powinienem/powinnam zrobić po prezentacji?</h3>
        <p>Prosimy o przesłanie nam materiałów prezentowanych podczas prelekcji (np. slajdy, kod) abyśmy mogli umieścić je na podstronie spotkania.</p>
    <h3>Czy dozwolone są prezentacje reklamujące komercyjne produkty lub ogłoszenia rekrutacyjne?</h3>
        <p>Takie prezentacje nie są wpisywane do agendy, ale po głównych prezentacjach mamy czas przeznaczony na tego typu krótkie ogłoszenia. Prosimy poinformować nas przed spotkaniem o chęci wystąpienia.</p>
</div>

<div id="for-sponsors">
    <h2>Dla sponsorów</h2>
    <h3>Jak zostać sponsorem?</h3>
        <p>Prosimy o kontakt mailowy na <a href="mailto:hello@pylight.org">hello@pylight.org</a>, gdzie omówimy szczegóły.</p>
    <h3>Na co mogę liczyć jako sponsor?</h3>
        <p>Sponsor naszych spotkań może liczyć na:</p>
        <ul>
            <li>umieszczenie logo sponsora na głównej stronie PyLight obok zapowiadanego spotkania,</li>
            <li>umieszczenie logo sponsora na podstronie spotkania,</li>
            <li>umieszczenie logo i opisu sponsora na podstronie “Sponsorzy”,</li>
            <li>wymienienie jako sponsor spotkania podczas zapowiedzi spotkania przez organizatorów,</li>
            <li>pojawienie się specjalnej notki o sponsorze spotkania w mediach społecznościowych (Facebook/Twitter),</li>
            <li>umieszczenie swojego baneru w sali spotkania.</li>
        </ul>
    <h3>Na co przeznaczane są pieniądze?</h3>
        <p>W zależności od potrzeb przeznaczamy uzyskane pieniądze na następujące cele:</p>
        <ul>
            <li>zakup napojów i jedzenia dla uczestników spotkania,</li>
            <li>pokrycie kosztów związanych z przejazdem i pobytem w Warszawie zaproszonego prelegenta,</li>
            <li>wynajęcie miejsca spotkań,</li>
            <li>organizację innych wydarzeń niż comiesięczne spotkania, takich jak hackatony czy sprinty,</li>
            <li>utrzymywanie infrastruktury PyLight (domena, hosting),</li>
            <li>ufundowanie drobnych podarunków (np. książki) rozlosowanych podczas spotkania.</li>
        </ul>
{#    <h3>Jak wygląda rozliczenie sponsoringu?</h3>#}
{#        <p>PyLight wystawia faktury VAT.</p>#}
</div>

<div id="for-partners">
    <h2>Dla partnerów</h2>
    <h3>Kto może zostać partnerem?</h3>
    <p>Partnerem PyLight może zostać dowolna inicjatywa, organizacja lub firma, jednak preferowane są działalności:</p>
    <ul>
        <li>niekomercyjne,</li>
        <li>poświęcone w głównej mierze językowi Python i jego środowisku,</li>
        <li>prowadzone w Warszawie.</li>
    </ul>
    <h3>Jak zostać partnerem?</h3>
    <p>Prosimy o kontakt mailowy na <a href="mailto:hello@pylight.org">hello@pylight.org</a>. W korespondencji prosimy o zawarcie informacji o:</p>
    <ul>
        <li>powiązaniu partnera z językiem Python i jego środowiskiem,</li>
        <li>kosztach uczestnictwa (jeżeli dotyczy),</li>
        <li>treściach marketingowych potrzebnych do promocji, np. szablon postu jaki miałby zostać opublikowany na naszych kanałach społecznościowych, logotyp inicjatywy, etc. (jeżeli dotyczy).</li>
        <li>proponowanych profitach dla społeczności PyLight płynących z partnerstwa.</li>
    </ul>
    <h3>Na co mogę liczyć jako partner?</h3>
    <p>Partner naszej inicjatywy może liczyć na:</p>
    <ul>
        <li>umieszczenie loga partnera na głównej stronie PyLight (sekcja partnerzy),</li>
        <li>promocja wydarzeń lub produktów partnera podczas zapowiedzi spotkania przez organizatorów,</li>
        <li>promocja wydarzeń lub produktów partnera na naszych kanałach social media.</li>
    </ul>
    <h3>Czego oczekuje PyLight w zamian za nawiązanie partnerstwa?</h3>
    <p>Zależy to od rodzaju współpracy, ale najczęściej jest to:</p>
    <ul>
        <li>umieszczenie naszego logotypu na stronie partnera,</li>
        <li>promocja wydarzeń organizowanych przez PyLight na kanałach społecznościowych partnera,</li>
        <li>wejściówka na wydarzenie/egzemplarz produktu partnera/kod rabatowy dla uczestników naszych spotkań.</li>
    </ul>
{#    <h3>Gdzie znajdę materiały promocyjne PyLight?</h3>#}
{#    <ul>#}
{#        <li>opis - <a href="#description-pl" data-toggle="modal">PL</a>, <a href="#description-en" data-toggle="modal">EN</a></li>#}
{#        <li>logotyp - <a href="{% static 'marketing/pywaw_logo.png' %}" target="_blank">PNG</a>, <a href="{% static 'marketing/pywaw_logo.ai' %}" target="_blank">AI</a></li>#}
{#        <li><a href="https://www.youtube.com/watch?v=Rrbpnrs8neM" target="_blank">video</a></li>#}
{#    </ul>#}

</div>
{% endblock %}
