@import url("https://fonts.googleapis.com/css?family=Raleway&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:400i&subset=latin-ext");
body {
  background: #ffffff;
  color: #393939;
  line-height: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

a {
  color: #3498DB;
  transition: 0.5s color ease;
}

a:hover {
  color: #f9bf3b;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Lora", serif;
}

h1, h2 {
  font-size: 45px;
}

h3 {
  font-size: 18px;
}

h6 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 25px;
}

p {
  margin-bottom: 0.5em;
}
p .date.strong {
  background-color: #f9bf3b;
  color: #393939;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  padding: 3px 5px;
}

html {
  overflow-x: hidden;
}

aside {
  float: left;
  width: 23%;
  text-align: center;
  line-height: 35px;
  font-family: "Museo Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}
aside .logo {
  max-width: 90%;
  margin-top: 45px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  aside {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    z-index: 1;
  }
  aside .logo {
    max-width: 200px;
  }
}
nav {
  margin-top: 15px;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
nav ul li {
  box-sizing: border-box;
  margin-left: -0.4em;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  font-weight: bold;
}
nav ul li a {
  font-size: 20px;
  position: static;
  padding: 0.2em 0.4em;
  color: #393939;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
nav ul li a:before {
  left: 0;
  transition: 0.1s all ease;
}
nav ul li a:after {
  right: 0;
  transition: 0.1s all ease;
}
nav ul li .vertical-bars:hover:before, nav ul li .vertical-bars:hover:after {
  height: calc(100% + 0.4em);
}
nav ul li .vertical-bars:hover a:before, nav ul li .vertical-bars:hover a:after {
  width: 100%;
}
nav ul li:before, nav ul li:after {
  content: "";
  box-sizing: border-box;
  transition: 0.2s all ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  background: #f9bf3b;
}
nav ul li:before {
  left: 0;
  bottom: -0.2em;
}
nav ul li:after {
  right: 0;
  top: -0.2em;
}
nav ul li:hover:before, nav ul li:hover:after {
  height: calc(100% + 0.4em);
}
nav ul li:hover a:before, nav ul li:hover a:after {
  width: 100%;
}

main {
  position: relative;
  margin-left: 25%;
}

@media screen and (max-width: 768px) {
  main {
    margin-left: 0;
  }
}
section {
  margin: 50px 0;
}

footer {
  margin-top: 30px;
  font-size: 14px;
}

.content {
  margin-top: 50px;
}

.page-title {
  margin-bottom: 30px;
}

.talk-title {
  color: #393939;
}

.talk-speaker {
  color: #393939;
}

.img-user {
  width: 90px;
  height: auto;
}

.vertical-center {
  display: flex;
  align-items: center;
}

/* BACKGROUND IMAGES */
@media screen and (min-width: 768px) {
  #left-fixed-shape {
    background: url(../img/main-left.png) no-repeat;
    width: 250px;
    height: 275px;
    position: fixed;
    left: -40px;
    bottom: 10px;
    z-index: -1;
  }
}
@media screen and (min-width: 1000px) {
  #right-absolute-home-shape {
    background: url(../img/main-right.png) no-repeat;
    width: 356px;
    height: 200px;
    position: absolute;
    top: 100%;
    right: -200px;
  }
}
/* MAIN PAGE */
#more-info-soon {
  width: 100%;
  border: 3px dashed #ededed;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 35px;
}
#more-info-soon p {
  text-align: center;
  color: #ababab;
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 54px;
}

#meetup-announcement {
  border: 2px solid black;
  padding: 30px 20px;
}
@media screen and (max-width: 768px) {
  #meetup-announcement {
    border: none;
  }
  #meetup-announcement p {
    font-size: 15px;
  }
}
#meetup-announcement h1 {
  text-align: center;
  margin-bottom: 30px;
}
#meetup-announcement h1 a {
  color: #f9bf3b;
}
#meetup-announcement h1 a:hover {
  color: #393939;
}
#meetup-announcement h2 {
  text-align: center;
  font-size: 40px;
  margin: 40px 0px;
}
#meetup-announcement .date-time-venue-wrapper {
  overflow: hidden;
}
#meetup-announcement .map {
  width: 100%;
}
#meetup-announcement .talk {
  margin-bottom: 20px;
}
#meetup-announcement .talk .speaker-img {
  display: inline-block;
}
#meetup-announcement .talk .talk-detail {
  display: inline-block;
  vertical-align: top;
}
#meetup-announcement .talk .talk-detail p {
  margin: 0;
}

#talk-proposal-landing {
  margin-top: 25px;
  text-align: center;
}

#about strong {
  background-color: #3498DB;
  font-size: 12px;
  color: #ffffff;
  padding: 3px 5px;
}

#sponsors .row, #partners .row {
  margin: 30px 0;
}
#sponsors .sponsor, #partners .sponsor {
  position: relative;
  margin-bottom: 15px;
  line-height: 100px;
  text-align: center;
}
#sponsors .sponsor .logo, #partners .sponsor .logo {
  max-width: 75%;
  max-height: 100px;
  vertical-align: middle;
}

/* MEETUP DETAIL PAGE */
.meetup-detail h2 {
  margin-top: 40px;
}
.meetup-detail .row {
  overflow: hidden;
}
.meetup-detail .time-date-detail {
  padding-left: 10px;
  background-color: #f9bf3b;
}
.meetup-detail .meetup-talk h2 {
  font-size: 38px;
}

.localization .map {
  width: 100%;
}

/* MEETUP LIST PAGE */
.meetupList {
  margin-top: 0;
  padding-left: 0;
}
.meetupList hr {
  margin-top: 20px;
}
.meetupList .list-of-talks {
  overflow: hidden;
}

.singleMeetupOnList {
  margin-top: 30px;
}
.singleMeetupOnList .info {
  overflow: hidden;
}
.singleMeetupOnList h2 {
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 10px;
}
.singleMeetupOnList h2 a {
  color: #f9bf3b;
}
.singleMeetupOnList h2 a:hover {
  color: #393939;
}
.singleMeetupOnList .talks-ul {
  margin-top: 10px;
  margin-bottom: 0;
}

/* SPEAKER LIST PAGE */
.speaker-list img {
  vertical-align: text-bottom;
}
.speaker-list h2 {
  font-size: 38px;
}
.speaker-list .speaker-name {
  display: inline-block;
  padding-left: 20px;
}
.speaker-list .speaker-link {
  margin-bottom: 10px;
  padding-left: 10px;
}

/* SPONSOR LIST PAGE */
.sponsor-list .img-sponsors {
  max-width: 300px;
}

/* FAQ PAGE */
.faq-page h3 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
