html {
    overflow-x: hidden;
}

body {
    background: #fff;
    color: #393939;
    line-height: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

/* UNDERLINED LINK WHEN HOVERED */
a, a:visited, a:hover, a:active {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #393939;
    font-size: 20px;
}

h1 a, h1 a:hover {
    font-size: 45px;
}

a:hover {
    color: #f9bf3b;
}

a.after:after {
    left: 0;
}

a.button.button-block.margin-top-normal.more {
    font-size: 15px;
}

/* UNDERLINED AND VERTICAL BARS LINK STYLES */

a.after:after {
    bottom: -0.25em;
}

a.before:before, a.after:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

a.before:before, a.after:after {
    height: 5px;
    height: 0.35rem;
    width: 0;
}

a.before:hover:before, a.after:hover:after {
    width: 100%;
}

p {
  margin-bottom: 0.5em;
}

li {
    line-height: 2em;
}

section {
    margin-top: 30px;
    margin-bottom: 40px;
}

/* BACKGROUND IMAGES */
@media screen and (min-width: 768px) {
  #left-fixed-shape {
      background: url(../img/main-left.png) no-repeat;
      width: 250px;
      height: 275px;
      position: fixed;
      left: -40px;
      bottom: 10px;
      z-index: -1;
      }
}

@media screen and (min-width: 1000px) {
  #right-absolute-home-shape {
      background: url(../img/main-right.png) no-repeat;
      width: 356px;
      height: 200px;
      position: absolute;
      top: 100%;
      right: -200px;
    }
}

.uppercase-style {
    font-family: 'Museo Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

aside {
    float: left;
    width: 23%;
    text-align: center;
    line-height: 35px;
}

aside .logo {
    max-width: 90%;
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    aside {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
        z-index: 1;
    }

    aside .logo {
        max-width: 200px;
    }
}

main {
    position: relative;
    margin-left: 25%;
}

@media screen and (max-width: 768px) {
    main {
        margin-left: 0;
    }
}

nav {
    margin-top: 15px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/* NAV DECORATION */
a.before:before {
    top: -0.25em;
}

.vertical-bars {
    box-sizing: border-box;
    margin-left: -0.4em;
    position: relative;
    overflow: hidden;
}

.vertical-bars a {
    position: static;
    padding: 0.2em 0.4em;
}

.vertical-bars:before, .vertical-bars:after {
    content: "";
    box-sizing: border-box;
    transition: 0.2s all ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    background: #f9bf3b;
}

.vertical-bars:before {
    left: 0;
    bottom: -0.2em;
}

.vertical-bars:after {
    right: 0;
    top: -0.2em;
}

.vertical-bars a:before{
    left: 0;
    transition: 0.2s all ease;
}

.vertical-bars a:after{
    right: 0;
    transition: 0.2s all ease;
}

.vertical-bars:hover:before, .vertical-bars:hover:after {
    height: calc(100% + 0.4em);
}

.vertical-bars:hover a:before, .vertical-bars:hover a:after{
    width: 100%;
}

h6 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 25px;
}

h1, h2, h3, h4 {
    vertical-align: bottom;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2em;
}

h1, h2, h3, h4 img {
    margin-right: 15px;
}

h1 {
    font-size: 45px;
}

h2 {
    margin-top: 35px;
}

h3 {
    font-size: 25px;
    margin: 40px 0 15px 0;
}

h4 {
    font-size: 20px;
    margin: 30px 0 10px 0;
}

h5 {
    font-size: 20px;
}

.content {
    margin-top: 50px;
    padding-top: 5px;
    padding-left: 10px;
}

footer, footer a, footer a:hover {
    margin-top: 30px;
    font-size: 14px;
}

footer a:hover {
    font-weight: bold;
}

.talk-proposal-landing {
    margin-top: 25px;
    text-align: center;
}

.talk-proposal-landing a {
    color: #393939;
    font-weight: bold;
}

.talk-proposal-landing a:hover {
    color: #f9bf3b;
}

.more-info-soon{width:100%;border:3px dashed #ededed;-moz-box-sizing:border-box;box-sizing:border-box; margin-top: 10px;}
.more-info-soon p{text-align:center;color:#cdcdcd;margin:0;font-weight:700;font-size:28px;line-height:54px}

#about strong {
    background-color: #3498DB;
    font-size: 12px;
    color: white;
    padding: 3px 5px;
}

.partner-logo {
    margin: 0 25px 20px 0;
    height: 60px;
}