{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>PyLight | {% block title %}{% endblock %}</title>

        <meta name="description" content="PyLight to cykliczne spotkania entuzjastów języka programowania Python.">
        <meta name="keywords" content="programming, python, django, pylight">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="PyLight" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="PyLight to cykliczne spotkania entuzjastów języka programowania Python." />
        <meta property="og:url" content="https://www.pylight.org/" />
        <meta property="og:image" content="{% static 'img/logo.png' %}" />

        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    </head>
    <body>
        <div id="left-fixed-shape"></div>
        {% block right_shape %}<div id="right-absolute-home-shape"></div>{% endblock %}
        <nav>
            <a href="{% url 'misc:home' %}">
                <img src="{% static 'img/logo.png' %}" alt="PyLight" class="logo" />
            </a>
            <ul>
                <li class="nav-item"><a href="{% url 'misc:home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'meetups:meetup_list' %}">Spotkania</a></li>
                <li class="nav-item"><a href="{% url 'meetups:speaker_list' %}">Prelegenci</a></li>
                <li class="nav-item"><a href="{% url 'meetups:sponsor_list' %}">Sponsorzy</a></li>
                <li class="nav-item"><a href="{% url 'misc:faq' %}">FAQ</a></li>
            </ul>
        </nav>
        <main>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>Społeczność PyLight zobowiązuje się przestrzegać <a href="http://berlincodeofconduct.org/pl/">berlińskiego kodeksu postępowania</a>.</p>
        </footer>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    </body>
</html>
