{% load staticfiles %}

<div>
    {% for speaker in speakers %}
    <div id="speaker-{{ speaker.id }}">
        <div>
            <img  src="{% if speaker.photo %}{{ speaker.photo.url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="Zdjecie {{ speaker }}">
            <h2>{{ speaker.first_name }} {{ speaker.last_name }}</h2>
            {% if speaker.website %}
                <a href="{{ speaker.website }}" target="_blank">
                    <img src="{% static 'img/link.png' %}" alt="Strona prelegenta">
                </a>
            {% endif %}
        </div>
        <p>{{ speaker.biography }}</p>
    </div>
    {% empty %}
        <p>Agenda w przygotowaniu. Masz pomysł na prezentację? Napisz do nas: <a href="mailto:hello@pylight.org">hello@pylight.org</a></p>
    {% endfor %}
</div>
