{% extends "base.html" %}

{% load staticfiles embed_video_tags %}
{% load static %}

{% block title %}{{ meetup }} - {{ meetup.date|date:"d.m.Y" }}{% endblock %}

{% block og_title %}{{ meetup }} - {{ meetup.date|date:"d.m.Y" }}{% endblock %}


{% block js %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhNca45HD9Q_OMp-g2qNlSLwmOqaKCwXs&amp;sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var venue = new google.maps.LatLng({{ object.venue.latitude }}, {{ object.venue.longitude }});
        var mapOptions = {
            center: venue,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var marker = new google.maps.Marker({
            position: venue
        });
        marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Event">

    <h1 itemprop="name">{{ object }}</h1>

    <div>
        <p itemprop="startDate" content="{{ meetup.date|date:"c" }}">
            <span>{{ meetup.date|date:"l" }}, </span>{{ meetup.date|date:"d.m.Y" }} {{ meetup.date|date:"H:i" }}
        </p>
    </div>

    {% for talk in meetup.talks.all %}
    <div id="talk-{{ talk.title|slugify }}" itemprop="subEvent" itemscope itemtype="http://schema.org/Event">
        <h2>
            {% for speaker in talk.speakers.all %}
                <a href="#speaker-{{ speaker|slugify }}">{{ speaker }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}:
            <span itemprop="name">{{ talk.title }}</span>
            <span class="lang-icon"><img src="{% get_static_prefix %}img/languages/{{ talk.language }}.png"</span>
        </h2>

        {% if talk.slides_url or talk.slides_file %}
            <a href="{% if talk.slides_url %}{{ talk.slides_url }}{% else %}{{ talk.slides_file.url }}{% endif %}" target="_blank"><img src="{% static 'img/download.png' %}" alt="Link do prezentacji"></a>
        {% endif %}
        <p itemprop="description">{{ talk.description }}</p>
        {% if talk.video_url %}
          <div>
            {% video talk.video_url '780x440' %}
          </div>
        {% endif %}
    </div>
    {% endfor %}
    {% if not meetup.is_ready %}
    <div class="more-info">
        <h3>Agenda w przygotowaniu</h3>
    </div>
    {% endif %}


    <h2>Prelegenci</h2>
    {% include 'meetups/_speakers.html' %}

    {% if object.external_links.exists %}
    <div>
        <div>
            <img src="{% static 'img/links.png' %}" alt="Linki">
        </div>
        <div class="span8">
            <h2>Linki</h2>
            <ul>
                {% for external_link in object.external_links.all %}
                <li><a href="{{ external_link.url }}" target="_blank" class="{{ external_link.type }}">{{ external_link.url }}</a> - {{ external_link.description }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}


    {% if object.sponsors.exists %}
        <h2>Sponsorzy</h2>
        {% include 'meetups/_sponsors.html' %}
    {% endif %}

    {% if object.venue %}
    <div itemscope itemprop="location" itemtype="http://schema.org/Place">
        <h2>Lokalizacja</h2>
        <h3><img src="{% static 'img/location.png' %}" alt="Lokalizacja"> <span itemprop="name">{{ object.venue.name }}</span>, <span itemprop="address">{{ object.venue.address }}</span></h3>
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <a href="https://maps.google.com/maps?q={{ object.venue.latitude }},{{ object.venue.longitude }}" target="_blank">
                <img class="map" src="http://maps.googleapis.com/maps/api/staticmap?zoom=14&amp;size=855x351&amp;maptype=roadmap&amp;markers=color:blue%7C{{ object.venue.latitude }},{{ object.venue.longitude }}&amp;sensor=false&amp;key=AIzaSyBmPw3YAF_Qk3GTLbj2zkF-M-rIcT45y2Q" class="map" alt="Mapa">
            </a>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
