{% extends "base.html" %}

{% block title %}Spotkania{% endblock %}


{% block content %}
<h1 class="page-title">Spotkania</h1>

<div class="meetupList">
    {% for meetup in object_list %}
    <div class="singleMeetupOnList" itemscope itemtype="http://schema.org/Event">
        <div class="info">
            <div>
                <h2 itemprop="name">
                    <a href="{% url 'meetups:meetup_detail' number=meetup.number %}" itemprop="sameAs">
                        {{ meetup }}
                    </a>
                </h2>
            </div>
            <div>
                <p itemprop="startDate" content="{{ meetup.date|date:"c" }}">{{ meetup.date|date:"d.m.Y" }}</p>
            </div>
        </div>

        <div class="list-of-talks">
            <div>
                <ul class="talks-ul">
                    {% for talk in meetup.talks.all %}
                        <li itemprop="subEvent" itemscope itemtype="http://schema.org/Event">
                            {% for speaker in talk.speakers.all %}<strong itemprop="performer" itemscope itemtype="http://schema.org/Person"><a class="talk-speaker" href="{{ meetup.get_absolute_url }}#speaker-{{ speaker|slugify }}" target="_blank" itemprop="name">{{ speaker }}</a>{% if not forloop.last %}, {% endif %}</strong>{% endfor %}: <a class="talk-title" href="{{ meetup.get_absolute_url }}#talk-{{ talk.title|slugify }}" itemprop="name">{{ talk.title }}</a>
                        </li>
                    {% endfor %}
                    {% if not meetup.is_ready %}
                        <div class="more-info">
                            <h3>agenda w przygotowaniu</h3>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
