@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museosans500-webfont.eot');
    src: url('../fonts/museosans500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans500-webfont.woff2') format('woff2'),
         url('../fonts/museosans500-webfont.woff') format('woff'),
         url('../fonts/museosans500-webfont.ttf') format('truetype'),
         url('../fonts/museosans500-webfont.svg#museo_sans500') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museosans300-webfont.eot');
    src: url('../fonts/museosans300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans300-webfont.woff2') format('woff2'),
         url('../fonts/museosans300-webfont.woff') format('woff'),
         url('../fonts/museosans300-webfont.ttf') format('truetype'),
         url('../fonts/museosans300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/museosans-100-webfont.eot');
    src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100-webfont.woff2') format('woff2'),
         url('../fonts/museosans-100-webfont.woff') format('woff'),
         url('../fonts/museosans-100-webfont.ttf') format('truetype'),
         url('../fonts/museosans-100-webfont.svg#museo_sans100') format('svg');
    font-weight: lighter;
    font-style: normal;

}
